---
title: Qualità dell'aria in Italia - I dati
---

{% include header.html %}

 <body>

    <!-- Topbar
    ================================================== -->
<!--    <div class="topbar" data-scrollspy="scrollspy" >-->
<!--      <div class="topbar-inner">-->
<!--        <div class="container">-->
<!--          <a class="brand" href="#"><span class="ominiverdi">ominiverdi</span></a>-->

<!--          <ul class="nav">-->
<!--            <li class="active"><a href="#about">Panoramica</a></li>-->
<!--            <li><a href="#stazioni">Le stazioni di rilevamento</a></li>-->
<!--            <li><a href="#sensori">I sensori</a></li>-->
<!--            <li><a href="#mappa">La mappa</a></li>-->
<!--            <li><a href="#link">Link</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<div class="container">
    <header>
        <h1>Qualità dell'aria in Italia <small>Dati liberi sulla qualità dell'aria</small> <a href="https://twitter.com/share" class="twitter-share-button" data-via="stekosteko" data-lang="it">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</h1>
    </header>

    <div class="row">
        <div class="span8">
            <p>Vogliamo rendere possibile per tutti capire la qualità dell'aria
            che respiriamo ogni giorno e cosa influisce maggiormente su di essa.</p>

            <div class="alert-message warning fade in" data-alert="alert">
                <a class="close" href="#">×</a>
                <p><strong>Attenzione!</strong> Questo servizio è in fase di sperimentazione.</p>
                <p>I dati presentati non hanno alcun valore ufficiale e non sono in nessun
                modo approvati dagli enti che effettuano le misurazioni.</p>
            </div>
        </div>
        <div class="span8">
            <img src="images/20110820866.jpg" width="100%" />
        </div>
    </div>


<section id="where">
  <div class="page-header">
    <h1>Cosa stiamo facendo <small>Una panoramica del progetto</small></h1>
  </div>

  <div class="row">
    <div class="span8">
        <h2>Piemonte</h2>
        <p><a href="piemonte.html">Piemonte</a> <span class="label warning">In progress...</span>
    </div>
    <div class="span8">
        <h2>Genova <small>e Provincia</small></h2>
        <p><a href="genova.html">Genova e Provincia</a></p>
    </div>
  </div>
</section>

{% include footer.html %}
