<!DOCTYPE html>
<html lang="it">
 <head>
   <meta charset="utf-8">

   <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
   <style type="text/css">
        body {
          background-color: #fff;
          position: relative;
          padding-top: 60px;
        }

        section {
            padding-top: 60px;
        }
        .ominiverdi {
            color: #009900;
        }
   </style>

   <title>{{ page.title }}</title>
   <!--[if IE]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
 </head>
